{% extends "userbase.html" %}

{% block title %}
  个人中心
{% endblock %}
{% block head %}
  <link rel="stylesheet" href="{{ url_for('static',filename='css/postRecipe.css') }}">
  <script rel=" " src="{{ url_for('static',filename='js/postRecipe.js') }}"></script>
{% endblock %}
{% block postRecipe %}
  active
{% endblock %}

{% block body %}

  <div class="container">
  <div class="row">
    <div class="col-1">

    </div>

    <div class="col-8">
      <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">菜名</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">简介</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">插入封面</label>
</div>
    <form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="数量">
    </div>
      <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="数量">
    </div>
  </div>
       <div class="form-row">
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="数量">
    </div>
      <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="数量">
    </div>
  </div>
       <div class="form-row">
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="数量">
    </div>
      <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="数量">
    </div>
  </div>
       <div class="form-row">
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-info text-white" placeholder="数量">
    </div>
      <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="原料">
    </div>
    <div class="col">
      <input type="text" class="form-control bg-primary text-white" placeholder="数量">
    </div>
  </div>
</form>
    <div class="one">
         <div class="input-group mt-3">
  <span class="input-group-text" id="inputGroup-sizing-default">步骤一</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">插入图片</label>
</div>
    </div>
        <div class="two">
         <div class="input-group ">
  <span class="input-group-text" id="inputGroup-sizing-default">步骤二</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">插入图片</label>
</div>
    </div>
         <div class="three">
         <div class="input-group ">
  <span class="input-group-text" id="inputGroup-sizing-default">步骤三</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">插入图片</label>
</div>
    </div> <div class="four">
         <div class="input-group ">
  <span class="input-group-text" id="inputGroup-sizing-default">步骤四</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">插入图片</label>
</div>
    </div>
         <div class="five">
         <div class="input-group ">
  <span class="input-group-text" id="inputGroup-sizing-default">步骤五</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
        <div class="input-group mb-3">
  <input type="file" class="form-control" id="inputGroupFile02">
  <label class="input-group-text" for="inputGroupFile02">插入图片</label>
</div>
    </div>
    <div class="input-group mb-3">
  <span class="input-group-text" id="inputGroup-sizing-default">烹饪技巧</span>
  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
</div>
         <div class="col-auto mt-5">
            <button type="submit" class="btn-block btn btn-primary mb-3">提交</button>
          </div>
    </div>

    <div class="col">

    </div>
  </div>
</div>
{% endblock %}