{% extends "base.html" %}

{% block title %}
吃客行--详情
{% endblock %}

{% block body %}
    <div class="container ">
  <div class="row ">
      <div class="col-1"></div>
    <div class="col" style="margin-top: 50px">
        <div class="picture mb-5">
            <img src="{{  url_for('static',filename="images/bg/recipeDetail_1.jpeg") }}">
        </div>
        <div>
           <h5 class="card-title mb-10" style="font-weight: bold">小酥肉，0失败，比饭店的好吃，自己做的干净又卫生</h5>
        </div>

        <div>
             <h5 class="card-title mb-3" style="font-weight: bold">小酥肉的用料</h5>
        </div>

        <table class="table mb-8" style="background:#b3d9ff">

  <tbody>
    <tr>
      <th scope="row" style="font-weight: bold">玉米淀粉</th>
      <td>100克</td>
      <td style="font-weight: bold">面粉</td>
      <td>100克</td>
    </tr>
    <tr>
      <th scope="row" style="font-weight: bold">水</th>
      <td>200克</td>
      <td style="font-weight: bold">盐</td>
      <td>5克</td>
    </tr>
    <tr>
      <th scope="row" style="font-weight: bold">食用油</th>
      <td>适量</td>
        <td style="font-weight: bold">花椒</td>
      <td>适量</td>
    </tr>
   <tr>
      <th scope="row" style="font-weight: bold">五花肉</th>
      <td>400克</td>
      <td style="font-weight: bold">胡椒粉</td>
       <td>一勺</td>

    </tr>
  </tbody>
</table>
        <div>
             <h5 class="card-title " style="font-weight: bold">小酥肉的做法</h5>
        </div>

         <table class="table ">

  <tbody>
    <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_2.jpeg") }}" ></td>
        <td><p style="font-weight: bold">步骤1</p>
            葱姜泡水，攥出葱姜水份</td>

    </tr>
    <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_3.jpeg") }}"  ></td>
      <td><p style="font-weight: bold">步骤2</p>
      400克五花肉切成小拇指粗细，倒入少许盐，生抽，胡椒粉，泡好的葱姜水，抓拌均匀，腌20分钟</td>

    </tr>
    <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_4.jpeg") }}" ></td>
      <td><p style="font-weight: bold">步骤3</p>
      花椒小火炒至冒烟，(喜欢吃辣的可以放点辣椒)用擀面杖擀碎</td>

    </tr>
   <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_5.jpeg") }}" ></td>
      <td><p style="font-weight: bold">步骤4</p>
      100克面粉，100克淀粉，5克泡打粉，200克水，20克植物油，少许鸡精，
          盐，白糖，之前擀好的花椒粉，可以用蛋抽搅拌轮廓，也可以用手抓匀(不要放鸡蛋放鸡蛋就不酥了)
          家里有吉士粉可以放点吉士粉，颜色会更好看，没有就不用放，炸完颜色就好看了</td>


    </tr>
  <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_6.jpeg") }}" ></td>
      <td><p style="font-weight: bold">步骤5</p>
      腌好的肉放面糊里抓拌均匀，油温烧至筷子***去冒气泡(150度左右)转小火，把肉一条一条放进去炸，炸五分钟左右就捞出来控油，
          (5分钟是从你全部下进去之后开始算的，中途有一些粘连的你可以轻轻的把它们拨开)，
          第二次复炸热油到220度左右转小火下去炸20秒左右就好了，捞出来控油</td>


    </tr>
  </tbody>
</table>
        <div>
             <h5 class="card-title mb-4 " style="font-weight: bold">小酥肉的烹饪技巧</h5>
            <h6 >最好用里脊肉，或者瘦肉多一点的五花肉，肥肉多吃着有点腻，这个量可以分两次炸，一次不要炸太多，
                按着这个配比做不会失败的，特别好吃，做起来吧
                做菜好吃都有技巧，我的每道菜都有小妙招，大家搜索“豆果”可以直接查看我的菜谱！</h6>
        </div>
        <div class="data" style="margin-top: 50px;font-size: 60%">
            创建时间：3天前
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 50px">
        <form>
                <button type="submit" class="btn btn-primary " >上传我做的这道菜</button>
        </form>
        </div>

        <div class="discuss" style="margin-top: 80px">
            <form>
             <div class="form-group">
            <label for="exampleFormControlTextarea1">发表你的评论</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
                 <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary " style="margin-top: 10px;width: 120px">发表</button>
                 </div>
            </form>
        </div>

    </div>
    <div class="col">
        <div class="picture " style="margin-top: 100px">
            <img src="{{  url_for('static',filename="images/bg/recipeDetail_7.png") }}">
        </div>
    </div>

  </div>
</div>
{% endblock %}

