{% extends "base.html" %}

{% block title %}
吃客行--详情
{% endblock %}

{% block body %}
    <div class="container">
  <div class="row">
      <div class="col-1"></div>
    <div class="col" >
        <div class="picture mb-5">
            <img src="{{  url_for('static',filename="images/bg/recipeDetail_1.jpeg") }}" class="img-fluid" alt="...">
        </div>
        <div>
           <h5 class="card-title mb-12" style="font-weight: bold">小酥肉，0失败，比饭店的好吃，自己做的干净又卫生</h5>
        </div>

        <div>
             <h5 class="card-title " style="font-weight: bold">小酥肉的用料</h5>
        </div>

        <table class="table" style="background:#b3d9ff">

  <tbody>
    <tr>
      <th scope="row">玉米淀粉</th>
      <td>100克</td>
      <td style="font-weight: bold">面粉</td>
      <td>100克</td>
    </tr>
    <tr>
      <th scope="row">水</th>
      <td>200克</td>
      <td style="font-weight: bold">盐</td>
      <td>5克</td>
    </tr>
    <tr>
      <th scope="row">食用油</th>
      <td>适量</td>
        <td style="font-weight: bold">花椒</td>
      <td>适量</td>
    </tr>
   <tr>
      <th scope="row">五花肉</th>
      <td>400克</td>
      <td style="font-weight: bold">胡椒粉</td>
       <td>一勺</td>

    </tr>
  </tbody>
</table>
        <div>
             <h5 class="card-title">小酥肉的做法</h5>
        </div>

         <table class="table">

  <tbody>
    <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_2.jpeg") }}" class="img-fluid" alt="..."></td>
        <td><p style="font-weight: bold">步骤1</p>
            葱姜泡水，攥出葱姜水份</td>

    </tr>
    <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_3.jpeg") }}" class="img-fluid" alt="..."></td>
      <td><p style="font-weight: bold">步骤2</p>
      400克五花肉切成小拇指粗细，倒入少许盐，生抽，胡椒粉，泡好的葱姜水，抓拌均匀，腌20分钟</td>

    </tr>
    <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_4.jpeg") }}" class="img-fluid" alt="..."></td>
      <td><p style="font-weight: bold">步骤3</p>
      花椒小火炒至冒烟，(喜欢吃辣的可以放点辣椒)用擀面杖擀碎</td>

    </tr>
   <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_5.jpeg") }}" class="img-fluid" alt="..."></td>
      <td><p style="font-weight: bold">步骤4</p>
      100克面粉，100克淀粉，5克泡打粉，200克水，20克植物油，少许鸡精，
          盐，白糖，之前擀好的花椒粉，可以用蛋抽搅拌轮廓，也可以用手抓匀(不要放鸡蛋放鸡蛋就不酥了)
          家里有吉士粉可以放点吉士粉，颜色会更好看，没有就不用放，炸完颜色就好看了</td>


    </tr>
  <tr>
      <td><img src="{{  url_for('static',filename="images/bg/recipeDetail_6.jpeg") }}" class="img-fluid" alt="..."></td>
      <td><p style="font-weight: bold">步骤5</p>
      腌好的肉放面糊里抓拌均匀，油温烧至筷子***去冒气泡(150度左右)转小火，把肉一条一条放进去炸，炸五分钟左右就捞出来控油，
          (5分钟是从你全部下进去之后开始算的，中途有一些粘连的你可以轻轻的把它们拨开)，
          第二次复炸热油到220度左右转小火下去炸20秒左右就好了，捞出来控油</td>


    </tr>
  </tbody>
</table>




    </div>
    <div class="col">

    </div>

  </div>
</div>
{% endblock %}

